/** @format */

.About {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.firstRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  width: 50%;
  gap: 1.5rem;
  h1 {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
  }
  p {
    text-align: center;
  }
}
.secondRow {
  display: flex;
  gap: 5rem;
  padding: 2rem 4rem;
  width: 90%;
  .leftSecond {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h5 {
      font-size: 1rem;
      color: var(--primary-color);
    }
    h2 {
      font-size: 2.5rem;
    }
    p {
      font-size: 13px;
      line-height: 1.5rem;
    }
    button {
      width: max-content;
      padding: 1rem;
      height: 4rem;
      background-color: transparent;
      border: 2px solid black;
      display: flex;
      align-items: center;
      span {
        font-size: 1.3rem;
      }
    }
    .arrow {
      display: none;
    }
    button:hover .arrow {
      transform: 1s ease-in-out;
      display: block;
    }
  }
  .rightSecond {
    min-width: 40%;
    img {
      width: 100%;
    }
  }
}
