/** @format */

:root {
  --primary-color: #8283be;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgb(56, 56, 56);
  font-size: 14px;
}

/* image default css */
img {
  width: 100%;
  height: 100%;
}
