.HeroSlide {
  border: 1px solid black;
  .swiper {
    border: 1px solid black;
    position: relative;
    .swiperSlide {
      .imgContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        position: relative;
        img {
        }
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 1;
        }
      }
    }

    .slideLeft,
    .slideRight {
      position: absolute;
      top: 45%;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        background-color: #fff;
        font-size: 3vw;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .slideLeft {
      left: 5%;
      svg {
        color: #212121;
      }
    }
    .slideRight {
      right: 5%;
      svg {
        color: #8283be;
      }
    }
  }
}
